
// PRELOADER

.preloader{
    
    @include position (fixed, $top: 0, $left: 0);
     z-index: 200;
     width: 100%;
     height: 100%;
     background-color: $lightBlack;
     
     &__content{

        @include position (absolute, $top: 50%, $left: 50%);
         transform: translate(-50%, -50%);
 
         .arrow{
         
             
             transform: rotate(39deg);
             
             animation: preload;
             
             animation-duration: 3s;
             animation-iteration-count: infinite;
             
             font-size: 15rem;
             color: $primary;
     
     
             @keyframes preload {
                
                 0%{
     
                     transform: rotate(360deg) translateY(100px);
                 }
                     
                 100%{
                     transform: rotate(-310deg) ;
     
                 }
             }
         }
 
     }
         
 }
 
 