 .btn{
    display: inline-block;
    padding: .3rem 2rem;
    margin: .7rem 0;

    background-color: $primary;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    border-radius: 15px;
    color: $white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        background-color: $primaryDark;
        transform: scale(1.1);
    }

}