.header{
    @include position (fixed, $top: 0);
    @include flex($justify:space-between, $align:center);
    width: 100%;
    padding: .5rem 1.3rem;
    z-index: 100;
    transition: background 0.7s;
    
    @media #{$phone-down}{

        background-color: $lightWhite;
        box-shadow: 5px 5px 10px 1px #00000052;
    }
    

    .nav{

        @include flex($justify:space-between, $align:center);
       
        overflow: hidden;

        
        &__burger{

            position: relative;
               
            transition: transform 0.3s;
            cursor: pointer;
            
            display: block;

            @media #{$tab-up}{

                display: none;
            }
        

            i{
                transition: 0.4s;
                // font-size: 1.7rem;
                color: $primary;
            }
     
        }

        &__menu{            
            @include position(absolute, $top: 0rem, $right: -101%);
            @include flex($direction: column, $justify:flex-start, $align: center);
            box-shadow: 5px 5px 10px 8px #00000052;

            gap: 2rem;
            padding: 8rem 2rem;
            width: 50%;
            background-color: $lightBlack;
            background: linear-gradient(147deg, #153b64 0%, #224466 74%);

            // text-align: center;
            transition: background, right 0.3s;
            text-align: left;
            height: 100vh;
            
           a{
               color: $white;

           }
            a:hover{
                color: $primary;
            }
    
            @media #{$tab-up}{
                display: inline;
                position: static;
                width: auto;
                height: auto;
                padding: 0;
                background: none;
                opacity: 1;
    
                li{
                    &:not(:last-of-type){
                        margin-right:1.5rem;
                    }
                }
          
            }

    
        }
    
        .menu__active{
            right: 0;

        }


    }


}

.hotels-header{
    background-color: $lightWhite;
    box-shadow: 5px 5px 10px 1px #00000052;

    .hotels-nav{

        a{

            @media #{$tab-up}{
                color: $lightBlack;
                
                a:hover{
                    color: $primary;
                }
            }
         
        }
    }

}

.active-scroll{
    background-color: $lightWhite;
    box-shadow: 5px 5px 10px 1px #00000052;


    @media #{$tab-up}{
        
        .nav a{
            color: $lightBlack;
            
            &:hover{
                color: $primary;
                
            }
        }
    }
 
}