.header{
    @include position (fixed, $top: 0);
    @include flex($justify:space-between, $align:center);
    width: 100%;
    padding: 1.2rem;
    z-index: 100;
    
    background-color: $lightWhite;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.295);


    .nav{

        @include flex($justify:space-between, $align:center);
       
        overflow: hidden;

        &__burger{

            position: relative;
            width: 20px;
            height: 15px;
            padding: .5rem;
            
            transition: transform 0.3s;
            cursor: pointer;
            
            display: block;
    
            &:hover{
                transform: scale(1.1);
            }
    
            span{
                
                @include position (absolute, $left: 0);
                width: 100%;
                
                height: .25rem;
                
                display: block;
                background-color: $primary;
                border-radius: 12px;
                transition: all 0.3s;
    
    
                &:nth-child(1){
                    top: 0;
    
                }
                
                &:nth-child(2){
                    top: 5.5px;
                }
    
                &:nth-child(3){
                    top: 11px;
                }
            }
    
    
            // burger clicked
            &__clicked{
            
                span:nth-child(1){
                    top: 5px;  
                    transform: rotate(135deg);   
                }
        
                span:nth-child(2){
                    opacity: 0;
                    left:-5px;
                }
        
                span:nth-child(3){
                    top: 5px;  
                    transform: rotate(-135deg);
        
                }
            }
    
    
    
            @include respond(phone) {
                display: none;
            }
    
    
    
    
    
        }

        &__menu{            
            @include position(absolute, $top: 4.3rem, $right: 101%);
            @include flex($direction: column, $justify:space-between);
            gap: 2rem;
            padding: 2rem;
            width: 100%;

            font-size: 1.7rem;

            
            background-color: $lightBlack;
            text-align: center;
            transition: all 0.3s;
            opacity: 0;
            
           a{
               color: $white;
           }
            a:hover{
                color: $primary;
            }
    
    
            @include respond(phone){
    
                display: inline;
                position: static;
                width: auto;
                padding: 0;
                background: none;
                opacity: 1;
                font-size: 1.2rem;
    
                li{
                    &:not(:last-of-type){
                        margin-right:1.5rem;
                    }
                }
                
                a{
                    color: $lightBlack;
                }

               
    
            }
    
    
    
        }
    
        .menu__active{
            right: 0;
            opacity: 1;
        }


    }
}