// HELP SEARCH

.help-search{

    height: 25.5rem;

    @include respond(phone){
        height: 45.5rem;   
    }

    &__container{
 
        position: relative;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .text{
            @include position(absolute, $top: 20%);
            z-index: 1;
            color: white;

            @include respond(very-small){

                font-size: 1.3rem;
            }
            

            @include respond(phone){
                
                font-size: 2.3rem;
            }


            h2{

                @include respond(tab-land) { 
                    font-size: 3.5rem; 
                }
            }  
            
        
            @include respond(big-desktop) {
                font-size: 4.5rem; 
            }
            
            

        }

        //container
        .image{

            @include position(absolute, $top: 0, $left:0 );
            width: 100%;
            height: 100%;

            img{

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
