.hero{
    position: relative;
    overflow: hidden;

    .btn{
        margin: .2rem .5rem;
    }

    .btn, .input{
        font-size: 1.1rem;
    }

    
    &__video{
        width: 100%;  
    }


    &__header {

        transform: translate( -50% );
        color: $white;
        @include position(absolute, $top: 12%, $left: 50%);
        overflow: hidden;

        width: 90%;
        font-size: 65%;

        @include respond(phone-small){
            @include position(absolute, $top: 25%);
            width: 60%;
            font-size: inherit;

        }
        
        #search{
            @include respond(phone){
                width: 65%;
            }
        }


    }

    .txt{
        text-align: center;
        margin-top: 1rem;
        padding: .15rem;
        background: $primary ;
        border-radius: 12px;
        color : $lightWhite;
        font-size : 1.1rem;
        font-weight: 700;
    }

    

}