.gradient-bg {
  background: linear-gradient(
    130deg,
    rgba(2, 14, 20, 0.911),
    rgba(0, 0, 0, 0.164)
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
