.about-section {
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  background: #f2f7f9;
  background: linear-gradient(0deg, rgba(242,247,249,1) 0%, rgba(235,239,242,1) 100%);
  color: $lightBlack;
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media #{$sm} {
      grid-template-columns: repeat(3, 1fr);
      padding: 2rem;
    }
    i {
      font-size: 3rem;
    }
  }

  .location {
    i {color: #21c5fc;}
  }
  .locals {
    i {color: #42e023;}
  }
  .price {
   i {color: #ffd900;}
  }
}
