// FOOTER
.footer {
  position: relative;
  padding: 2rem 1.5rem;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: rgb(242,247,249);
  background: linear-gradient(0deg, #f2f7f9 0%, #ebeff2 100%);
  color: $lightBlack;
  &__content {
    h2{color: $primary;margin: 0;}
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
    gap: 2rem;
    @media #{$md} {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
    padding: 1rem;
    border-bottom: 1px solid rgba(175, 175, 175, 0.219);

    .column{
      @include flex($direction: column, $gap: .7rem)
    }
  }

  .subscribe-banner {
    background-color: #f8203c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23EA1E39' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    @include flex($direction: column, $align: center, $justify: center);
    gap: 1rem;
    @include position(absolute, $top: 0, $left: 101%);
    width: 100%;
    height: 100%;
    padding: 5rem;
    transition: all 0.7s;
    color: $white;

    .xx {
      @include position(absolute, $top: 1rem, $right: 1rem);
      cursor: pointer;
      // color: $white;
      font-size: 120%;
      font-weight: 800;
    }
    h2,
    h3 {
      font-size: 120%;
    }
    h3 {font-weight: 400;}
  }
  .news-form{
    @include flex($justify:space-between);
    background: #d4e0e9 74%;
    color: $white;
    border-radius: 15px;
    padding: 0;
    input{width: 100%; padding: 0rem 0.7rem; background: none;color: $lightBlack;}
    .btn-submit{
      padding: 0 1.5rem;
    }
  }
  .creator{margin-top: 1rem;}
}
