.header {
  @include position(fixed, $top: 0);
  @include flex($justify: space-between, $align: center);
  width: 100%;
  padding: 0.5rem 1.3rem;
  z-index: 100;
  transition: background 0.7s;

  .logo {
    font-size: 140%;
    width: 30%;
  }

  .nav {
    @include position(absolute, $top: 0rem, $right: 0);
    width: 0;
    height: 100vh;
    background: linear-gradient(147deg, #153b64 0%, #224466 74%);
    box-shadow: 5px 5px 10px 8px #00000052;
    transition: 0.3s;
    overflow-x: hidden;

    @media #{$sm} {
      position: static;
      width: auto;
      height: auto;
      background: none;
      padding: 0;
      box-shadow: none;
      li {
        &:not(:last-of-type) {
          margin-right: 1.5rem;
        }
      }
    }
  }
  .nav-list {
    padding: 4rem 1rem;
    a {
      padding: 1rem 0;
      color: $white;
      text-align: center;
      &:hover {
        color: $primary;
      }
      @media #{$sm} {
        padding: 0;
        display: inline;
      }
    }
    li {
      display: block;
      text-align: center;
      @media #{$sm} {
        display: inline;
      }
    }

    @media #{$sm} {
      width: auto;
      padding: 0;
      display: inline;
    }
  }

  .nav__burger {
    position: relative;
    color: $primary;
    cursor: pointer;
    font-size: 200%;
    @media #{$sm} {
      display: none;
    }
  }

  .menu__active {
    width: 60%;
    @media #{$sm} {
      width: auto;
      padding: 0;
    }
  }
}

.hotels-header {
  background-color: $lightWhite;
  box-shadow: 5px 5px 10px 1px #00000052;

  .hotels-nav {
    a {
      @media #{$sm} {
        color: $lightBlack;

        a:hover {
          color: $primary;
        }
      }
    }
  }
}

.active-scroll {
  background-color: $lightWhite;
  box-shadow: 5px 5px 10px 1px #00000052;

  @media #{$sm} {
    .nav a {
      color: $lightBlack;

      &:hover {
        color: $primary;
      }
    }
  }
}