.hotels-section {
  .more span {
    color: $primary;
  }
  .hotel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 0.85fr));
    @media #{$md} {
      grid-template-columns: repeat(3, 1fr);
    }
    justify-content: center;
    gap: 2.5rem;
    padding: 0.5rem;

    .hotel-card-grid {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      text-align: center;
      box-shadow: #00000059 0px 2px 7px;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: #00000059 4px 6px 25px;
      }
      @media #{$sm} {
        padding: 1rem;
      }

      .stars {
        color: $orange;
        font-size: 90%;
      }

      img {
        border-radius: 15px;
        width: 100%;
        @media #{$lg} {height: 60%;}
        object-fit: cover;
        object-position: center;
        transition: all 0.3s;
      }

      .hotel-info {
        @include flex($direction: column, $justify: space-between, $align: center, $gap: 0.7rem);
        padding: 0.7rem 0;
      }
    }
  }
}
