.hotels-section {
  .more span { color: $primary;}
  .hotel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem,1fr));
    @media #{$sm}{grid-template-columns: repeat(3,1fr);}
    justify-content: center;   
    gap: 2rem;
    overflow: hidden;
    padding: 0.5rem;

    .hotel-card-grid {
      display: grid;
      grid-template-rows: repeat(2, auto);
      border-radius: 15px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;

      .stars {
        color: $orange;
        font-size: 150%;
      }

      img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 0.3s;
      }

      .hotel-info {
        @include flex($direction: column,$justify: space-between, $align:center, $gap: 1rem);
        padding: 0.7rem 0;
      }
    }
  }
}