.slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 28%;
  grid-auto-columns: 32%;
  gap: 0.2rem;

  padding-bottom: 0.3rem;

  overflow: hidden;

  @media #{$phone-up} {
    grid-auto-columns: 32%;
  }
  @media #{$tab-up} {
    grid-auto-columns: 23%;
  }
  @media #{$tab-port-up} {
    grid-auto-columns: 21%;
  }
 

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &__element {
    position: relative;
    border-radius: 8px;

    scroll-snap-align: start;
    grid-template-rows: min-content;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    .heart {
      color: $white;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;
    }

    .heart-clicked {
      color: $primary;
      transform: scale(1.3);
    }

    .gradient-bg {
      color: $white;
      user-select: none;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      transition: all 0.4s;

      font-size: 80%;

      padding-inline: 0.2rem;


      @media #{$phone-down}{
        font-size: 50%;
      }
      @media #{$tab-up}{
        font-size: 90%;
      }
    }

    &:hover .gradient-bg {
      opacity: 1;
    }
  }
}
