// COLORS
$white:#fff;
$lightWhite: #F6F5F5;
$primary: #f8203c;
$primaryDark: #e9203a;
$lightBlack: #222831;
$orange: rgb(236, 164, 9);

// ...........................

// MEDIA QUERIES

$small-phone-down: "only screen and (max-width: 180px)";

$phone-down: "only screen and (max-width: 300px)";
$phone-up: "only screen and (min-width: 300px)";

$tab-down: "only screen and (max-width: 600px)";
$tab-up: "only screen and (min-width: 600px)";

$tab-port-up: "only screen and (min-width: 900px)"; 

$laptop-up: "only screen and (min-width: 1200px)";

$desktop-up: "only screen and (min-width: 1800px)";

// ...........................